*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #ccc;
  line-height: 1.5;
  overflow-x: hidden;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 20px;
}

header {
  background-color: rgb(52, 58, 64);
  color: #fff;
  padding: 20px 0;
}

nav {
  display: flex;
  justify-content: space-between;
}

nav .logo {
  font-weight: 400;
  letter-spacing: 0.8px;
}

.form-control {
  color: #495057;
  padding: 12px 8px;
  font-size: 0.875rem;
  outline: none;
  border: 1px solid #ced4da;
  border-radius: 4px;
}

.form-control:focus {
  box-shadow: 0 0 0 0.1rem rgba(0, 123, 255, 0.25);
}

.grocery {
  max-width: 800px;
  margin-inline: auto;
  margin-top: 40px;
  background-color: #fff;
  padding: 40px;
}

h1 {
  font-size: 1.5rem;
  text-transform: capitalize;
  letter-spacing: 2px;
  color: darkslategrey;
  font-size: 2rem;
  text-align: center;
}

.grocery-form {
  margin-top: 15px;
  display: grid;
  grid-template-columns: 1fr repeat(2, 15%);
  gap: 0.5rem;
}

#add-item {
  background-color: #f7f7f7;
}

#add-item::placeholder {
  color: gray;
}

.btn {
  border: none;
  padding: 7px 12px;
  color: #fff;
  background-color: skyblue;
  font-size: 1rem;
  font-weight: 700;
  border-radius: 5px;
  cursor: pointer;
}

.btn-success {
  background-color: green;
}

.btn-danger {
  background-color: red;
}

.save-btn {
  display: none;
}

.grocery-items {
  list-style: none;
  margin-top: 25px;
  letter-spacing: 2px;
}

.item {
  display: grid;
  grid-template-columns: 5% 2fr repeat(3, 10%);
  padding: 15px 10px;
}

.item:nth-child(odd) {
  background-color: #f4f4f4;
}

.item:nth-child(even) {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

.btn-edit {
  color: blue;
}

.btn-complete {
  color: green;
}

.btn-delete {
  color: red;
}
